[Unit]
Description=hems

# Wait until HEMS USB dongle is connected
Requires=dev-udg\x2d1\x2dwsne.device
After=dev-udg\x2d1\x2dwsne.device

[Service]
Type=simple
Environment=HEMS_ROUTEB_ID=xxx
Environment=HEMS_PASSWORD=xxx
Environment=HEMS_DEVICE=/dev/udg-1-wsne
ExecStart=/usr/local/bin/hems_linux_armv7
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
